{% extends "base_generic.html" %}
{% load socialaccount %}
{% providers_media_js %} 
{% load static%}
{% block content %}

{% block body %}
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form>
  <h3>Home</h3>
  <br>
  <br>
 <div>
  <div>
    <a  style="margin-left: 30px; text-decoration: none; box-shadow: 3px -1px 16px -4px rgba(0, 0, 0, 0.75); padding:10px 10px ; width:15%; border-radius: 15px; " href="signup">
      Signup
    </a>
  
   <a style="margin-left: 70px; text-decoration: none; box-shadow: 3px -1px 16px -4px rgba(0, 0, 0, 0.75); padding:10px 20px ; width:15%; border-radius: 15px;" href="login">
     Login
   </a>
   <br>
   <br><br><br>
   <div class="social" >
    <div class="fb">
      <a style="text-decoration: none;"  href="{% provider_login_url "facebook" method="oauth2" %}">
        <i class="fab fa-facebook"></i>
        Facebook
      </a>
    </div>
   
    <div class="go" style="margin-left: 20px;">
      <a style="text-decoration: none;" href="{% provider_login_url "google" %}">
        <i class="fab fa-google"></i>
        Google
      </a>
    </div>
  </div>
    <img style="width: 500px; height: 360px; margin-left: 250px; position: absolute;  transform: translate(-5%,-35%); " src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" alt="">
  
 </div>
    
</form>
       
  
    {% endblock body %}

    {% endblock %}