{% extends "base_generic.html" %}
{% load static%}
{% block content %}

{% block body %}
			
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
<form method='POST'style="height: 700px;">
    {% csrf_token %}
            <h3> Signup</h3>
        <label>{{ form.username.label_tag }}</label>
        <input type="text" placeholder="Username" id="{{ form.username }}">
        <label >{{form.email.label_tag}}</label>
        <input type="email" name="email"placeholder="Email"id="{{form.email}}">
        <label>{{ form.password1.label_tag }}</label>
        <input type="password" placeholder="Password" id="{{ form.password1 }}">
        <label>{{ form.password2.label_tag }}</label>  
        <input type="password" placeholder="Password conformation" id="{{form.password2}}">
        <input type="submit" value="Signup">
        <input type="hidden" name="next" value="{{ next }}">
    

</form>
{% endblock body %}

{% endblock %}
